/* h1{
    background-color: rgb(19, 29, 29);
    color: rgb(228, 12, 12);
} */

/* div{
    width: 200px;
    height: 200px;
    background-color: rgb(3, 104, 69);
    border: 3px solid rgb(225, 20, 112);
    transition: 2s;
}
p{
    background-color: red;
    border: 2px solid black;
}
button{
    margin: 10px;
} */
/* .box{
    padding: 20px; */
    /* width: 100px;
    height: 100px; */
    /* background-color: red;
}
.box2{
text-decoration: underline;
border-radius: 5%;
} */
.light{
    background-color: white;
    color: black;
}
.dark{
    background-color: black;
    color: white;
}

.box{
    background-color: red;
    width: 200px;
    height: 200px;
}