*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: #c3b7b7;
}
h1{
    text-align: center;
    color: #6a1313;
    margin-top: 20px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 20px ; */
    font-size: 30px;
    background-color: #6a1313;
    color: #c3b7b7;
    padding: 20px;

}
.numberContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #6a1313;
    margin: 10px;
    display: flex;
    justify-content: center;    
    align-items: center;
    /* text-align: center; */
    /* flex-direction: row; */
    /* display: inline-block; */
}