*{
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
#btn{
    padding: 10px 20px;
    background-color: #9f2727;
    color: #fff;
    margin:300px  300px;
}
.modelContainer{

    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(192, 48, 48, 0.5);
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    position: absolute;
}
.modelContent{
    width: 400px;
    height: 200px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;}
.closeBtn{
    padding: 10px 100px;
    background-color: #7c7171;
    color: #fff;
    margin-top: 20px;
}