*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}html, body{
    height: 100%;
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-family: sans-serif;
}
.container{
    width: 100%;
    /* height: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
    background-color: #7e2828;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    background-color: #1999b9;
 border-radius: 50%;
    font-size: 2rem;
    padding: 1rem; 
    margin: 1rem;
transition: all 0.3s ease; 
}.box:active{
    background-color: #b91919;
    color: white;
    transform: scale(1.2);
}